---
description:
permalink: /
layout: layouts/two-column.njk
---
{%- from "components/stat.njk" import Stat -%}
{%- from "components/billboard.njk" import Billboard -%}
{%- from "components/quote.njk" import Quote -%}