<div id="branding-bar" class="iupui" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity" aria-labelledby="campus-name">
        <div class="row pad">
            <img src="//assets.iu.edu/brand/3.x/trident-large.png" alt="IU logo"/>
            <p id="iu-campus">
                <a href="https://www.iupui.edu" title="IUPUI">
                    <span id="campus-name" class="show-on-desktop" itemprop="name">IUPUI</span>
                    <span class="show-on-tablet" itemprop="name">IUPUI</span>
                    <span class="show-on-mobile" itemprop="name">IUPUI</span>
                </a>
            </p>
        </div>
    </div>