<div class="section bg-midnight-dark bg-dark" aria-label="iDEW awards received" role="complementary">
    <div class="row pad">
        <h2 class="show-for-sr">Awards</h2>
        <div class="grid halves">
            <div class="grid-item">
                <div class="award">
                    <p>
                        <span class="award__year">2022</span>
                        <span class="award__organization">TechPoint<br /> MIRA Award Winner</span>
                        <span class="award__name">Bridge Builder Award</span>
                    </p>
                    <p class="award__stars">
                        <img class="award__stars__img" src="{{ site.base_url }}/img/award-stars.png" alt="Award Stars" />
                    </p>
                </div>
            </div>
            <div class="grid-item">
                <div class="award">
                    <p>
                        <span class="award__year">2018</span>
                        <span class="award__organization">TechPoint<br /> MIRA Award Winner</span>
                        <span class="award__name">Tech Educator of the Year</span>
                    </p>
                    <p class="award__stars">
                        <img class="award__stars__img" src="{{ site.base_url }}/img/award-stars.png" alt="Award Stars" />
                    </p>
                </div>
            </div>
            <div class="grid-item">
                <div class="award">
                    <p>
                        <span class="award__year">2018</span>
                        <span class="award__organization">Indiana Award<br/> for Excellence</span>
                        <span class="award__name">Career and Technical Education</span>
                    </p>
                    <p class="award__stars">
                        <img class="award__stars__img" src="{{ site.base_url }}/img/award-stars.png" alt="Award Stars" />
                    </p>
                </div>
            </div>
            <div class="grid-item">
                <div class="award">
                    <p>
                        <span class="award__year">2017</span>
                        <span class="award__organization">US2020<br /> STEM Mentoring Award</span>
                        <span class="award__name">Excellence in Public-Private Partnerships</span>
                    </p>
                    <p class="award__stars">
                        <img class="award__stars__img" src="{{ site.base_url }}/img/award-stars.png" alt="Award Stars" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-black dark belt" aria-label="Additional links and social media" role="complementary">
    <div class="row pad">
        <h2 class="visually-hidden">iDEW resources and social media channels</h2>                                                                                <div class="belt-nav one-half">
            <ul>
                <li><a href="https://luddy.iupui.edu/">Luddy School of Informatics, Computing, and Engineering at IUPUI</a></li>
            </ul>
        </div>
        <div class="one-half invert border">
            <p class="show-for-large" style="text-align: right; color: #fff;">Follow Us</p>
            <ul class="social">
                <li><a aria-label="Facebook" class="icon-facebook" href="https://www.facebook.com/iDEWSoIC/">Facebook</a></li>
                <li><a aria-label="Twitter" class="icon-twitter" href="https://twitter.com/iDEWTweets">Twitter</a></li>
            </ul>
        </div>
    </div>
</div>

<footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
    <div class="row pad">

        <p class="signature">
            <a href="https://www.iu.edu" class="signature-link signature-img"><img
                        src="//assets.iu.edu/brand/3.x/iu-sig-formal.svg" alt="Indiana University"/></a>
        </p>

        <p class="copyright">
            <a href="https://www.iu.edu/copyright/index.html">Copyright</a> &#169; 2023 <span
                    class="line-break-small">The Trustees of <a href="https://www.iu.edu/" itemprop="url"><span
                            itemprop="name">Indiana University</span></a></span><span
                    class="hide-on-mobile"> | </span><span class="line-break"><a href="https://luddy.iupui.edu/idew/privacy/"
                                                                                 id="privacy-policy-link">Privacy Notice</a> | <a
                        href="https://accessibility.iu.edu/help" id="accessibility-link"
                        title="Having trouble accessing this web page because of a disability? Visit this page for assistance.">Accessibility Help</a></span>
        </p>
    </div>
</footer>